/node_modules/
/.secretkeys/
/.ssh/
/.vscode/
BookShelfDrogonServer/build/*
BookShelfDrogonServer/build/*
BookShelfDrogonServer/config.json
!/BookShelfDrogonServer/build/makeAndRun.sh
!/BookShelfDrogonServer/build/makeAndDebug.sh
